body {
  background-color: rgb(209, 209, 209);
}
li {
  background-color: tomato;
  width: 600px;
  margin: 10px auto;
  list-style: none;
}
#form-conteiner {
  background-color: yellowgreen;
  width: 200px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  :not(:first-child) {
    margin-top: 10px;
  }
}
#button-input {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin: auto;
  border: 2px solid;
}
tr{
  background-color: yellow;
}
td {
  text-align: center;
  border: 1px solid;
  padding: 2px;
}
.summ-box{
  width: 200px;
  background-color: rgb(60, 48, 168);
  color: white;
  margin: 1px auto;
  border: 2px solid;
  text-align: center;
  font-weight: 700;}