body {
  background-color: #28cece;
  padding-top: 15px;
}
.test-conteiner {
  display: none;
}
#form-conteiner {
  background-color: white;
  display: flex;
  max-width: 500px;
  border-radius: 30px;
  padding: 15px 30px;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
// Декорация =====================================
.left-decoration-box {
  position: absolute;
  width: 50px;
  height: 15px;
  bottom: 35px;
  left: -30px;
  border-radius: 30px;
  content: '';
  background-color: #28cece;
  &::after {
    position: absolute;
    background-color: white;
    bottom: 15px;
    left: 10px;
    width: 60px;
    height: 15px;
    content: '';
    border-radius: 30px;
  }
  &::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 15px;
    bottom: -15px;
    left: -10px;
    background-color: white;
    border-radius: 30px;
  }
}
.right-decoration-box {
  position: absolute;
  width: 50px;
  height: 15px;
  top: 35px;
  right: -35px;
  border-radius: 30px;
  content: '';
  background-color: #28cece;
  &::after {
    position: absolute;
    background-color: white;
    bottom: 15px;
    right: 5px;
    width: 60px;
    height: 15px;
    content: '';
    border-radius: 30px;
  }
  &::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 15px;
    bottom: -15px;
    right: 20px;
    background-color: white;
    border-radius: 30px;
  }
}
.round-box {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: white;
  bottom: 50px;
  left: -40px;
}
//===================================================
.main-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-left: 0;
  border-right: 2px #28cece solid;
  & input {
    background: #e9eff6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
.result-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
  padding-right: 0;
}
.text-main-form-box,
.text-result-box {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
#button-input {
  margin-top: 30px;
  background: #ce2828;
  border-bottom: 4px solid #7a1818;
  color: white;
  font-size: 14px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #7a1818;
    border-bottom: 4px solid #4d0f0f;
  }
}
table {
  padding-top: 15px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
tr {
  background-color: #707981;
}
td {
  text-align: center;
  border: 1px #dedede solid;
  border-radius: 5px;
  padding: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.summ-box {
  width: auto;
  background-color: #2828ce;
  color: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
}
li {
  background-color: tomato;
  width: 600px;
  margin: 10px auto;
  list-style: none;
}
